<main class="viewer__container">
  <div class="viewer__wide">
    <header>
      <cv-pageheader [pageTitle]="title" [superTitle]="'Overzicht'"></cv-pageheader>
    </header>

    <nav>
      <cv-actions [actionsGroup]="undefined"></cv-actions>
    </nav>

    <article>
      <section>
        <div>
          <ngx-datatable
            class="bootstrap"
            [rows]="endqualifications$ | async"
            [columns]="columnHeaders"
            [columnMode]="'flex'"
            [headerHeight]="50"
            [rowHeight]="50"
            [selected]="selected"
            [selectionType]="'single'"
            (select)="onSelect($event)"
          >
          </ngx-datatable>
        </div>
      </section>
    </article>
  </div>
</main>
