/* You can add global styles to this file, and also import other style files */

/* -- Show mouse hand on nav items -------------------------------------------------- */

.nav__link,
.nav__link--sub,
.table .clickable:hover {
  cursor: pointer;
}

.resultpage__content {
  display: initial;
}

.center-horizontal {
  margin-top: 25px;
}

.custom-radio {
  padding: 3px;
}

.custom-radio-label {
  padding-left: 10px;
}

p {
  margin: 0 0 0.5em 0;
  line-height: 1.5rem;
}

ul.lijst li {
  padding: 0 0 1em 0;
}

.panel {
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 10px;
}
.panel p {
  margin: 0 0 0.4em 0;
  line-height: 1.1rem;
}

/* -- ----------------------------------------------------------------- */

@media (min-width: 1199px) {
  .content-page__aside,
  .content-page__menu {
    width: 320px;
  }
}

.widget__content,
.widget__link--solo {
  color: initial;
  border: none;
  margin: 5px 0;
}

.widget__content p,
.widget__link--solo p {
  padding-top: 0px;
}

.widget__link--solo:before,
.widget__list-item:before {
  border: none;
}

/* Zijbalk rechts  */

.widget-content-aside,
.widget,
.widget p {
  line-height: 1.1;
}

.widget__header {
  font-size: 1em;
}

.widget--default {
  padding: 0.625rem 0.9375rem;
}

/* Buttons */

.btn--secondary,
.btn-black {
  color: #fff;
  background-color: #000001;
  text-decoration: none;
}

.btn-small {
  line-height: 0.9;
}

article.resultpage__list {
  padding: 0px;
  margin: 10px 0px;
}

.content-page__menu {
  padding: 0;
  padding-right: 20px;
  width: 280px;
  margin-bottom: 4px;
}

.page-menu__list {
  margin: 2px;
}

li.parent-item {
  font-weight: bold;
}

.filter-block__container {
  margin-top: 45px;
}

h2 {
  margin: 0;
  padding: 20px 0px 10px;
}

/* Quill editor styling */

.ql-container {
  font-size: 16px;
  color: black;
}

td p {
  margin: 0;
}
