<form
  #selectorForm="ngForm"
  name="form"
  (ngSubmit)="selectorForm.form.valid && addQualification()"
  novalidate
>
  <h3>Beoogde e-cf eindkwalificaties</h3>
  <p>Selecteer hier één of meer eindkwalificaties.</p>
  <div class="row bottom-xs">
    <div class="form-group col-xs-2">
      <label for="areaSelect">Area</label>
      <select
        id="areaSelect"
        name="area"
        [(ngModel)]="selectedArea"
        (change)="onAreaChanged($event)"
        #area="ngModel"
        class="form-control"
        required
      >
        <option *ngFor="let area of availableAreas" [value]="area.areaTag">
          {{ area.areaTag }} {{ area.areaName }}
        </option>
      </select>
    </div>

    <div class="form-group col-xs-4">
      <label for="competenceSelect">Competence</label>
      <select
        id="competenceSelect"
        name="competence"
        (change)="onCompetenceChanged($event)"
        [(ngModel)]="selectedCompetence"
        #competence="ngModel"
        class="form-control"
        required
      >
        <option *ngFor="let cmpt of availableCompetences" [value]="cmpt.competenceLevel">
          {{ cmpt.competenceLevel }} {{ cmpt.competenceName }}
        </option>
      </select>
    </div>

    <div class="form-group col-xs-4">
      <label for="proficiencySelect">Proficiency</label>
      <select
        id="proficiencySelect"
        name="proficiency"
        (change)="onProficiencyChanged($event)"
        [(ngModel)]="selectedEndqualificationId"
        #proficiency="ngModel"
        class="form-control"
        required
      >
        <option *ngFor="let proficiency of availableProficiencies" [value]="proficiency.id">
          Level {{ proficiency.proficiencyLevel }}
          {{
            proficiency.proficiencySample.length > 6
              ? (proficiency.proficiencySample | slice: 0:24) + ' ...'
              : proficiency.proficiencySample
          }}
        </option>
      </select>
    </div>

    <div class="form-group col-xs-2">
      <button
        id="btnAdd"
        type="submit"
        class="btn btn-success"
        [disabled]="!selectorForm.valid || !selectorForm.touched"
      >
        Add <i class="fa fa-plus fa-lg"></i>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-8">
      <h3>Geselecteerde eindkwalificaties</h3>

      <table class="table">
        <thead>
          <tr>
            <th>Area</th>
            <th>Competence</th>
            <th>Proficiency</th>
            <th></th>
          </tr>
        </thead>
        <p *ngIf="!selection || selection.length === 0">
          Er zijn nog geen eindkwalificaties geselecteerd.
        </p>
        <tbody *ngIf="selection && selection.length > 0">
          <tr *ngFor="let item of selection">
            <td>{{ item?.areaTag }}.{{ item?.areaName }}</td>
            <td>{{ item?.competenceLevel }} {{ item?.competenceName }}</td>
            <td>{{ item?.proficiencyLevel }}</td>
            <td>
              <button
                type="button"
                (click)="removeQualification(item)"
                class="btn btn-outline-warning btn-delete btn-sm"
              >
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
