<main class="viewer__container">
  <div class="viewer__fullwidth">
    <!--

     -->
    <header>
      <h4 class="sub-title">Hier een boventitel</h4>
      <h1>Style Example - Full width</h1>
      <h4 class="sub-title">Hier een ondertitel</h4>
    </header>

    <article class="">
      <section>
        <h4>section</h4>
        <p>
          Bij Avans hangt een sfeer van kennis vergroten. Ontwikkeling.
          Toekomst. Een dynamische sfeer, waar je direct energie van krijgt. Heb
          jij diezelfde passie, betrokkenheid en drang tot ontwikkeling? Dan
          maken we graag kennis met jou.
        </p>
      </section>
      <section>
        <h4>section</h4>
        <p>
          Bij Avans hangt een sfeer van kennis vergroten. Ontwikkeling.
          Toekomst. Een dynamische sfeer, waar je direct energie van krijgt. Heb
          jij diezelfde passie, betrokkenheid en drang tot ontwikkeling? Dan
          maken we graag kennis met jou.
        </p>
      </section>
    </article>

    <footer>
      <h4>Hier de footer</h4>
    </footer>
  </div>
</main>
