<main class="viewer__container" *ngIf="boksNodeElements$ | async as boks">
  <div class="viewer__fullwidth">
    <header>
      <cv-pageheader
        [pageTitle]="'BOKS'"
        [superTitle]="'Overzicht'"
        [buttonImageClass]="'fa fa-edit fa-lg'"
        [actionIsAllowed]="userMayEdit$ | async"
      ></cv-pageheader>
    </header>

    <article>
      <section>
        <p>Hier zie je een overzicht van de BOKS items en BOKS content.</p>
      </section>
      <section>
        <dnd-treeview [tree]="boksNodeElements$ | async" (onDrop)="onItemDropped($event)"></dnd-treeview>
      </section>
    </article>

    <footer>
      <p>Ruimte voor footer.</p>
    </footer>
  </div>
</main>
