<h3>{{ title }}</h3>
<table class="table">
  <tbody>
    <tr>
      <td>Laatst gewijzigd</td>
      <td>
        {{ entity?.lastUpdatedBy?.firstName }}
        {{ entity?.lastUpdatedBy?.lastName }} op <br />
        {{ entity?.updatedAt | date: 'medium' }}
      </td>
    </tr>
  </tbody>
</table>
