<main
  class="layout-full-width-block main-content layout-full-width-block--content-page"
>
  <div class="layout-full-width-block__content content-page">
    <nav id="page-menu" class="page-menu content-page__menu">
      <a href="#page-menu" class="skip-link nav-link">Acties</a>
      <div class="page-menu__container">
        <ul class="page-menu__list">
          <li class="parent-item">
            <a class="skip-link nav-link" href="#">Acties</a>
          </li>
          <li class="page-menu__item">
            <a class="page-menu__link" href="#">Alle acties</a>
          </li>
        </ul>
        <a href="#" class="skip-link close-icon">Verberg het menu</a>
      </div>
    </nav>

    <article class="main-content content-page__content">
      <h1 class="entry-title">404 - Niet gevonden</h1>
      <p>Het item dat u probeert te vinden bestaat niet.</p>
    </article>

    <aside class="content-page__aside">
      <div class="content-page__aside-container">
        <div class="widget widget--sidebar widget--red">
          <h4 class="widget__header ">Zoeken</h4>
          <div class="widget__content">
            <p>Naar het overzicht</p>
            <a class="widget__link widget__link--solo btn--secondary" href="#">
              Zoeken naar info</a
            >
          </div>
        </div>
      </div>
    </aside>
  </div>
</main>
