.hst-widget {
  width: 1200px;
}
.brd-b {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.brd-t {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.tt-none {
  text-transform: none !important;
}

.tt-up {
  text-transform: uppercase !important;
}

.tt-cap {
  text-transform: capitalize !important;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: ' ';
}

.clearfix:after {
  clear: both;
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.bg-overlay:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  content: ' ';
  z-index: 5;
}

.h370 {
  height: 370px;
}

.h150 {
  height: 150px;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.invisible {
  visibility: hidden;
}

.list-unstyled {
  margin-top: 0;
  margin-left: 0 !important;
  padding-left: 0;
  list-style: none;
}

/* line 67, /Users/seb/Work/Avans-Onderzoek/css/module/helpers */
.secondary-cta {
  height: 50px;
  float: left;
  padding: 0 10px;
  display: table;
}
/* line 68, /Users/seb/Work/Avans-Onderzoek/css/module/helpers */
.secondary-cta.blue a {
  color: #00aeed;
}
/* line 71, /Users/seb/Work/Avans-Onderzoek/css/module/helpers */
.secondary-cta.white a {
  color: #fff;
}
/* line 79, /Users/seb/Work/Avans-Onderzoek/css/module/helpers */
.secondary-cta p {
  display: table-cell;
  vertical-align: middle;
}
/* line 83, /Users/seb/Work/Avans-Onderzoek/css/module/helpers */
.secondary-cta img {
  width: 6px;
  height: 11px;
  margin: 0px 10px 0px 0px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .caret-slim a::before {
    /* content: url('../../img/caret-slim.png'); */
    display: block;
    float: left;
    height: 40px;
    padding: 10px 10px 10px 20px;
    margin: 0px;
  }
  .caret-slim.white a::before {
    /* content: url('../../img/caret-slim-white.png'); */
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.p-10 {
  padding: 10px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.p-0 {
  padding: 0 !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

@media (min-width: 992px) {
  .md-p-0 {
    padding: 0 !important;
  }

  .md-mt-0 {
    margin-top: 0 !important;
  }

  .md-mt--20 {
    margin-top: -20px !important;
  }

  .md-mb-0 {
    margin-bottom: 0 !important;
  }

  .md-mr--15 {
    margin-right: -15px !important;
  }

  .md-ml--15 {
    margin-left: -15px !important;
  }

  .md-mb-30 {
    margin-bottom: 30px !important;
  }
}

@media (max-width: 767px) {
  .xs-mt-0 {
    margin-top: 0 !important;
  }

  .xs-mt-20 {
    margin-top: 20px !important;
  }
}

.xs-mb-10 {
  margin-bottom: 10px !important;
}

input[type='search'].search-grey {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #eeeeee;
  background-image: none;
  border: 1px solid #eeeeee;
  border-radius: 0;
  font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, Serif;
  font-size: 11px;
  font-style: italic;
  /* background: #EEEEEE url(../../img/icon-search.png) 10px center no-repeat; */
  padding: 2px 0px 2px 30px !important;
}

input[type='search'].search-white {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #fff;
  border-radius: 0;
  font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, Serif;
  font-size: 11px;
  font-style: italic;
  /* background: #fff url(../../img/icon-search.png) 10px center no-repeat; */
  padding: 2px 0px 2px 30px !important;
}

.content {
  font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, Serif;
  color: #666;
  line-height: 1.5;
  font-size: 14px;
  padding-bottom: 20px;
}
.content p {
  margin: 0 0 1em;
}
.content p.lead {
  line-height: 2;
}
.content a {
  color: #00aeed;
  text-decoration: none;
}
.content a:hover {
  text-decoration: underline;
}
.content ul,
.content ol {
  margin-left: 45px;
}

.btn-red {
  font-family: 'FrutigerLTW02-77BlackCn';
  font-size: 16px;
  float: right;
  height: 40px;
  background-color: #c6002a;
  color: #fff !important;
  line-height: 36px;
  padding: 2px 10px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  z-index: 10;
  text-decoration: none !important;
  min-width: 110px;
  text-align: center;
  background-image: -moz-linear-gradient(
    68% 0% -90deg,
    #e0194c 0%,
    #c80024 100%
  );
  background-image: -webkit-gradient(
    linear,
    68% 0%,
    68% 99%,
    color-stop(0, #e0194c),
    color-stop(1, #c80024)
  );
  background-image: -webkit-linear-gradient(-90deg, #e0194c 0%, #c80024 100%);
  background-image: -o-linear-gradient(-90deg, #e0194c 0%, #c80024 100%);
  background-image: -ms-linear-gradient(-90deg, #e0194c 0%, #c80024 100%);
  background-image: linear-gradient(180deg, #e0194c 0%, #c80024 100%);
  -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe0194c,endColorstr=#ffc80024,GradientType=0)';
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe0194c,endColorstr=#ffc80024,GradientType=0);
  /* line 41, /Users/seb/Work/Avans-Touchpoints/css/module/touchpoint-global */
}
.btn-red.sink-left {
  float: left !important;
}

/*noinspection ALL*/
.btn-red:hover {
  background-image: -moz-linear-gradient(
    56% 102% 90deg,
    #e0194c 0%,
    #c80024 100%
  );
  background-image: -webkit-gradient(
    linear,
    56% 102%,
    56% 3%,
    color-stop(0, #e0194c),
    color-stop(1, #c80024)
  );
  background-image: -webkit-linear-gradient(90deg, #e0194c 0%, #c80024 100%);
  background-image: -o-linear-gradient(90deg, #e0194c 0%, #c80024 100%);
  background-image: -ms-linear-gradient(90deg, #e0194c 0%, #c80024 100%);
  background-image: linear-gradient(0deg, #e0194c 0%, #c80024 100%);
  -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffc80024,endColorstr=#ffe0194c,GradientType=0)';
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffc80024,endColorstr=#ffe0194c,GradientType=0);
}

/*noinspection All*/
.btn-black {
  font-family: 'FrutigerLTW02-77BlackCn';
  font-size: 16px;
  /*float: right;*/
  height: 40px;
  background-color: #000000;
  color: #fff !important;
  line-height: 36px;
  padding: 2px 10px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  z-index: 10;
  background-image: -moz-linear-gradient(
    47% 0% -90deg,
    #333333 0%,
    #000000 100%
  );
  background-image: -webkit-gradient(
    linear,
    47% 0%,
    47% 99%,
    color-stop(0, #333333),
    color-stop(1, #000000)
  );
  background-image: -webkit-linear-gradient(-90deg, #333333 0%, #000000 100%);
  background-image: -o-linear-gradient(-90deg, #333333 0%, #000000 100%);
  background-image: -ms-linear-gradient(-90deg, #333333 0%, #000000 100%);
  background-image: linear-gradient(180deg, #333333 0%, #000000 100%);
  -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff333333,endColorstr=#ff000000,GradientType=0)';
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff333333,endColorstr=#ff000000,GradientType=0);
  text-decoration: none !important;
  min-width: 110px;
  text-align: center;
}
.btn-black.sink-left {
  float: left !important;
}
.btn-black:hover {
  background-image: -moz-linear-gradient(
    47% 0% 90deg,
    #333333 0%,
    #000000 100%
  );
  background-image: -webkit-gradient(
    linear,
    47% 0%,
    47% 99%,
    color-stop(0, #333333),
    color-stop(1, #000000)
  );
  background-image: -webkit-linear-gradient(-90deg, #333333 0%, #000000 100%);
  background-image: -o-linear-gradient(-90deg, #333333 0%, #000000 100%);
  background-image: -ms-linear-gradient(-90deg, #333333 0%, #000000 100%);
  background-image: linear-gradient(0deg, #333333 0%, #000000 100%);
  -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff333333,endColorstr=#ff000000,GradientType=0)';
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff333333,endColorstr=#ff000000,GradientType=0);
}

.sink-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.fwb {
  font-weight: bold;
}

.well {
  padding: 10px;
}
.well.grey {
  background-color: #eeeeee;
}

.cycle-pager {
  position: relative;
  bottom: 100px;
  z-index: 1000;
  margin: 0 auto;
  text-align: center;
}
.cycle-pager span {
  color: #fff;
  /* content: url('../../img/ovalopen.png'); */
  height: 12px;
  margin: 5px;
}
.cycle-pager span.cycle-pager-active {
  color: #000;
  height: 12px;
  /* content: url('../../img/ovalclosed.png'); */
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .cycle-pager span {
    /* content: url('../../img/ovalopen2x.png'); */
    cursor: pointer;
  }
  .cycle-pager span.cycle-pager-active {
    /* content: url('../../img/ovalclosed2x.png'); */
  }
}

.onderzoek-banner {
  height: 160px;
  overflow: hidden;
}

.banner-title {
  font-family: 'FrutigerLTW02-77BlackCn';
  font-weight: 100;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  z-index: 10;
  margin: 55px 0 0 0;
  line-height: 15px;
}

.banner-subtitle {
  font-family: 'FrutigerLTW02-77BlackCn';
  font-weight: 100;
  font-size: 30px;
  text-transform: uppercase;
  color: #c6002a;
  position: relative;
  z-index: 10;
  margin: 0;
}

.bg-cover {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover !important;
}

.bg-cover.blue {
  background-color: #00aeed;
}
.bg-cover.red {
  background-color: #c6002a;
}
.bg-cover.black {
  background-color: black;
}
.bg-overlay-75 {
  background-color: rgba(0, 0, 0, 0.75);
}
.bg-overlay-75:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  content: ' ';
  z-index: 5;
}

.bg-overlay-45 {
  background-color: rgba(0, 0, 0, 0.45);
}
.bg-overlay-45:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  content: ' ';
  z-index: 5;
}
.bg-overlay-20 {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}
.bg-overlay-20:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  content: ' ';
  z-index: 5;
}

@media (min-width: 1200px) {
  .onderzoek-banner {
    height: 270px;
  }

  .banner-title {
    margin-top: 95px;
  }

  .banner-subtitle,
  .banner-title {
    font-size: 72px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .onderzoek-banner {
    height: 270px;
  }

  .banner-title {
    margin-top: 95px;
  }

  .banner-subtitle,
  .banner-title {
    font-size: 72px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .onderzoek-banner {
    height: 230px;
  }

  .banner-title {
    margin-top: 80px;
  }

  .banner-subtitle,
  .banner-title {
    font-size: 48px;
  }
}

.header-title {
  font-family: 'FrutigerLTW02-77BlackCn';
  font-weight: 100;
  font-size: 32px;
  text-transform: uppercase;
  color: #000;
  position: relative;
  z-index: 10;
  line-height: 32px;
  margin: 25px 0 15px 0;
}

.expertisecentrum {
  overflow: hidden;
  color: #fff;
  padding: 10px;
  height: 270px;
  overflow: hidden;
  margin-bottom: 10px;
}
.expertisecentrum .summary {
  position: relative;
  z-index: 10;
}

.onafhankelijk {
  margin-bottom: 40px;
}

.item-title {
  font-family: 'FrutigerLTW02-77BlackCn';
  font-weight: 100;
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  z-index: 10;
  margin: 0;
  line-height: 32px;
}

@media (min-width: 1200px) {
  .expertisecentrum {
    margin-top: 20px;
  }
  .item-title {
    height: 64px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .expertisecentrum {
    margin-top: 20px;
  }
  .item-title {
    height: 64px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .expertisecentrum {
    margin-top: 20px;
  }
  .item-title {
    height: 64px;
  }
}

.pr-banner.titles-container,
.ec-banner {
  height: 160px;
}

.titles-container {
  position: relative;
}

.titles {
  position: absolute;
  bottom: 0px;
  margin-bottom: 10px;
}

img.fluid {
  width: 100%;
}

.ec-banner,
.pr-banner {
  position: relative;
}

.ec-banner .ec-title,
.pr-banner .ec-title {
  font-family: 'FrutigerLTW02-77BlackCn';
  font-weight: 100;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  z-index: 10;
  margin: 0;
  line-height: 24px;
}
.ec-banner .ec-subtitle,
.pr-banner .ec-subtitle {
  font-family: 'FrutigerLTW02-77BlackCn';
  font-weight: 100;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  z-index: 10;
  margin: 0;
}

.ec-partoff {
  height: 60px;
  padding: 20px 40px 20px 10px;
  margin-left: -10px;
  margin-right: -10px;
  font-size: 14px;
  line-height: 16px;
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.75);
}
.ec-partoff a {
  color: #ccc;
  display: block;
}
.ec-partoff a:hover {
  text-decoration: none;
  color: #fff;
}
.ec-partoff a::before {
  /* content: url(../../img/arrow-left-grey-trans.png); */
  height: 28px;
  display: block;
  float: left;
  margin-right: 10px;
  position: relative;
  top: 10px;
}

.ec-menu {
  background-color: #eeeeee;
  min-height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 100;
  font-family: 'FrutigerLTW02-77BlackCn';
}

.ec-menu .titles {
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.ec-menu .titles .ec-title {
  font-family: 'FrutigerLTW02-77BlackCn';
  font-weight: 100;
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
  position: relative;
  z-index: 10;
  margin: 0;
  line-height: 24px;
}
.ec-menu .titles .ec-subtitle {
  font-family: 'FrutigerLTW02-77BlackCn';
  font-weight: 100;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  position: relative;
  z-index: 10;
  margin: 0;
}
.ec-menu .current-location {
  padding: 0 10px;
  height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #ddd;
  /* background-image: url('./../../img/arrow-up-blue-trans.png'); */
  background-repeat: no-repeat;
  background-position: right 10px center;
}
.ec-menu ul {
  list-style: none;
  margin-left: 0;
  line-height: 42px;
  padding: 20px 0;
}
.ec-menu ul li {
  padding: 0 15px;
}
.ec-menu ul li span.count {
  font-family: 'FrutigerLTW02-47LightCn' !important;
}
.ec-menu ul li span.pill {
  font-family: 'FrutigerLTW02-47LightCn' !important;
  background-color: #00aeed;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.ec-menu ul li.active a {
  background-color: #00aeed;
  color: #fff !important;
}
.ec-menu ul li.active a span.count {
  font-family: 'FrutigerLTW02-47LightCn' !important;
  background-color: #fff;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  color: #00aeed;
  font-size: 14px;
}
.ec-menu ul li.active a:hover {
  text-decoration: underline;
}
.ec-menu ul a {
  color: #777;
  width: 100%;
  display: block;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
}
.ec-menu ul a span.count {
  font-family: 'FrutigerLTW02-47LightCn' !important;
  background-color: transparent;
  height: 20px;
  line-height: 21px;
  margin-top: 10px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
}
.ec-menu ul a:hover {
  color: #000;
  text-decoration: none;
  background-color: rgba(0, 173, 238, 0.15);
}
.ec-menu ul a:hover span.count {
  font-family: 'FrutigerLTW02-47LightCn' !important;
  background-color: #00aeed;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

@media (max-width: 767px) {
  .ec-menu.xs-collapsed {
    height: 40px;
    position: relative;
    /* background-image: url('./../../img/arrow-down-blue-trans.png'); */
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
  .ec-menu.xs-collapsed .current-location {
    display: none;
  }
  .ec-menu.xs-collapsed ul li {
    display: none;
    padding: 0 10px;
  }
  .ec-menu.xs-collapsed ul li.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
  }
  .ec-menu.xs-collapsed ul li.active .count {
    background-color: #00aeed;
    color: #fff;
    margin-right: 20px;
  }
  .ec-menu.xs-collapsed ul li.active a {
    background-color: transparent !important;
    padding: 0;
    color: #777 !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .ec-menu.sm-collapsed {
    height: 40px;
    position: relative;
    /* background-image: url('./../../img/arrow-down-blue-trans.png'); */
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
  .ec-menu.sm-collapsed .current-location {
    display: none;
  }
  .ec-menu.sm-collapsed ul li {
    display: none;
    padding: 0 10px;
  }
  .ec-menu.sm-collapsed ul li.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
  }
  .ec-menu.sm-collapsed ul li.active .count {
    background-color: #00aeed;
    color: #fff;
    margin-right: 20px;
  }
  .ec-menu.sm-collapsed ul li.active a {
    background-color: transparent !important;
    padding: 0;
    color: #777 !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .ec-menu.md-collapsed {
    height: 40px;
    position: relative;
    /* background-image: url('./../../img/arrow-down-blue-trans.png'); */
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
  .ec-menu.md-collapsed .current-location {
    display: none;
  }
  .ec-menu.md-collapsed ul li {
    display: none;
    padding: 0 10px;
  }
  .ec-menu.md-collapsed ul li.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
  }
  .ec-menu.md-collapsed ul li.active .count {
    background-color: #00aeed;
    color: #fff;
    margin-right: 20px;
  }
  .ec-menu.md-collapsed ul li.active a {
    background-color: transparent !important;
    padding: 0;
    color: #777 !important;
  }
}
@media (min-width: 1200px) {
  .ec-menu.lg-collapsed {
    height: 40px;
    position: relative;
    /* background-image: url('./../../img/arrow-down-blue-trans.png'); */
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
  .ec-menu.lg-collapsed .current-location {
    display: none;
  }
  .ec-menu.lg-collapsed ul li {
    display: none;
    padding: 0 10px;
  }
  .ec-menu.lg-collapsed ul li.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
  }
  .ec-menu.lg-collapsed ul li.active .count {
    background-color: #00aeed;
    color: #fff;
    margin-right: 20px;
  }
  .ec-menu.lg-collapsed ul li.active a {
    background-color: transparent !important;
    padding: 0;
    color: #777 !important;
  }
}

.ec-header {
  background-color: #c6002a;
  margin-top: 10px;
  padding: 10px 15px;
  height: 80px;
  z-index: 10;
}

.header-content {
  display: table-cell;
  vertical-align: bottom;
  height: 60px;
}

.ec-header .ec-title {
  font-family: 'FrutigerLTW02-77BlackCn';
  font-weight: 100;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  position: relative;
  z-index: 10;
  margin: 0;
  line-height: 1;
}

.ec-header .last-line {
  text-transform: none;
  font-style: italic;
  font-size: 14px;
}
.ec-header .special {
  color: black;
  text-decoration: underline;
  font-family: 'FrutigerLTW01-56Italic';
  font-size: 24px;
}

.ec-content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 20px;
  line-height: 200%;
}
.ec-content h2,
.ec-content .ec-title {
  font-family: 'FrutigerLTW02-77BlackCn';
  color: #000;
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 0;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .ec-content {
    margin-bottom: 50px;
    line-height: 200%;
  }
  .ec-partoff {
    background-color: transparent;
    border-bottom: 1px solid #ddd;
    margin: 0;
  }
  .ec-partoff a {
    color: #333;
  }
  .ec-partoff a:hover {
    color: #333;
  }
  .ec-partoff a::before {
    /* content: url(../../img/arrow-left-darkgrey-trans.png); */
    height: 28px;
    display: block;
    float: left;
    margin-right: 10px;
    position: relative;
    top: 10px;
  }

  .ec-header,
  .ec-menu {
    margin-top: 30px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .current-location {
    display: none;
  }

  .ec-menu {
    margin-top: -180px;
    position: relative;
    z-index: 10;
  }

  .ec-header {
    height: 120px;
    margin-top: -220px;
    position: relative;
    padding-top: 15px;
    padding-left: 20px;
  }

  .header-content {
    display: table-cell;
    vertical-align: bottom;
    height: 90px;
  }
  .ec-header .ec-title {
    font-size: 36px;
    line-height: 1;
  }

  .ec-header .last-line {
    text-transform: none;
    font-style: italic;
    font-size: 20px;
  }

  .ec-header .special {
    font-size: 32px;
  }

  .titles-container {
    height: 270px;
  }

  .ec-banner {
    height: 500px;
  }
  .ec-banner .ec-subtitle {
    font-size: 24px;
    line-height: 1;
  }
  .ec-banner .ec-title {
    font-size: 48px;
    line-height: 1;
  }

  .ec-content {
    background-color: #fff;
    position: relative;
    z-index: 10;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
    margin-top: 0 !important;
    line-height: 200%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .ec-content {
    margin-bottom: 50px;
    line-height: 200%;
  }
  .ec-header,
  .ec-menu {
    margin-top: 30px;
  }
  .pr-banner {
    height: 190px;
  }
  .pr-banner.titles-container {
    height: 190px;
  }
  .ec-banner,
  .titles-container {
    height: 230px;
  }
  .ec-banner .ec-subtitle,
  .titles-container .ec-subtitle {
    font-size: 24px;
    line-height: 1;
  }
  .ec-banner .ec-title,
  .titles-container .ec-title {
    font-size: 48px;
    line-height: 1;
  }
}

.widget-image {
  position: relative;
  color: #fff;
  padding: 10px;
  height: 270px;
  margin-top: 30px;
  position: relative;
}
.widget-image p,
.widget-image h2,
.widget-image h3,
.widget-image h4,
.widget-image h5,
.widget-image h6 {
  position: relative;
  z-index: 10;
}

@media (min-width: 1200px) {
  .ec-content {
    margin-bottom: 50px;
    line-height: 200%;
  }

  .widget-image {
    margin-top: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .widget-image {
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .widget-image {
    height: 220px;
    margin-top: 30px;
  }
  .widget-image {
    font-size: 24px;
    line-height: 24px;
  }
  .item-title {
    font-size: 24px;
    line-height: 24px;
    height: 48px;
  }
  .widget-image p {
    font-size: 14px;
  }
}

.widget-news {
  margin-top: 40px;
}
.widget-news h2 {
  font-family: 'FrutigerLTW02-77BlackCn';
  color: #000;
  font-weight: 100;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.widget-news ul {
  margin-left: 0;
  list-style: none;
  line-height: 200%;
}
.widget-news ul li {
  margin-bottom: 30px;
}
.widget-news ul li .when {
  color: #000;
  display: block;
}

a.caret {
  /* background: url('../../img/arrow-right-blue.png') 5px center no-repeat; */
  padding-left: 20px;
}

.widget-events {
  margin-top: 40px;
}
.widget-events h2 {
  font-family: 'FrutigerLTW02-77BlackCn';
  color: #000;
  font-weight: 100;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.widget-events ul {
  margin-left: 0;
  list-style: none;
  line-height: 200%;
}
.widget-events ul li {
  margin-bottom: 10px;
}
.widget-events ul li .when {
  float: left;
  width: 40px;
  font-family: 'FrutigerLTW02-77BlackCn';
  margin-right: 10px;
}
.widget-events ul li .when .day {
  background-color: #000;
  color: #fff;
  width: 40px;
  height: 40px;
  display: block;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}
.widget-events ul li .when .month {
  width: 40px;
  height: 40px;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  display: block;
  color: #000;
}
.widget-events ul li .title {
  float: left;
}

.bg-overlay-blue-75 {
  background-color: rgba(0, 173, 240, 0.75);
}
.bg-overlay-blue-75:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  content: ' ';
  z-index: 5;
}

.widget-twitter {
  margin-top: 40px;
  height: 270px;
  background: #00adf0;
}
.widget-twitter .tweet {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  text-align: center;
  font-family: 'FrutigerLTW02-47LightCn';
  font-size: 16px;
}
.widget-twitter .tweet .logo {
  margin: 10px 80px 0px 80px;
  position: relative;
  z-index: 10;
}
.widget-twitter .tweet .text {
  margin-bottom: 5px;
  color: #fff;
  position: relative;
  z-index: 10;
}
.widget-twitter .tweet .text a {
  color: #fff;
}
.widget-twitter .tweet .date {
  color: #000;
  position: relative;
  z-index: 10;
}

.widget-share {
  margin-top: 40px;
  margin-bottom: 40px;
}
.widget-share h2 {
  font-family: 'FrutigerLTW02-77BlackCn';
  color: #000;
  font-weight: 100;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.widget-share a.social {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: 30px 30px;
  margin-right: 2px;
}
.widget-share a.social.twitter {
  background-color: #55acee;
  /* background-image: url(../../img/twitter_white.png); */
}
.widget-share a.social.twitter:hover {
  /* background-image: url(../../img/twitter_white.png); */
}
.widget-share a.social.facebook {
  background-color: #3b5998;
  /* background-image: url(../../img/facebook_white.png); */
}
.widget-share a.social.facebook:hover {
  /* background-image: url(../../img/facebook_white.png); */
}
.widget-share a.social.linkedin {
  background-color: #0077b5;
  /* background-image: url(../../img/linkedin_white.png); */
}
.widget-share a.social.linkedin:hover {
  /* background-image: url(../../img/linkedin_white.png); */
}
.widget-share a.social.instagram {
  background-color: #3f729b;
  /* background-image: url(../../img/instagram_white.png); */
}
.widget-share a.social.instagram:hover {
  /* background-image: url(../../img/instagram_white.png); */
}
.widget-share a.social.youtube {
  background-color: #cd201f;
  /* background-image: url(../../img/youtube_white.png); */
}
.widget-share a.social.youtube:hover {
  /* background-image: url(../../img/youtube_white.png); */
}
.widget-share a.social.blogger {
  background-color: #f57d00;
  /* background-image: url(../../img/blogger_white.png); */
}
.widget-share a.social.blogger:hover {
  /* background-image: url(../../img/blogger_white.png); */
}
@media only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {
  .widget-share a.social.twitter {
    /* background-image: url(../../img/twitter_white_2x.png); */
  }
  .widget-share a.social.twitter:hover {
    /* background-image: url(../../img/twitter_white_2x.png); */
  }
  .widget-share a.social.facebook {
    /* background-image: url(../../img/facebook_white_2x.png); */
  }
  .widget-share a.social.facebook:hover {
    /* background-image: url(../../img/facebook_white_2x.png); */
  }
  .widget-share a.social.linkedin {
    /* background-image: url(../../img/linkedin_white_2x.png); */
  }
  .widget-share a.social.linkedin:hover {
    /* background-image: url(../../img/linkedin_white_2x.png); */
  }
  .widget-share a.social.instagram {
    /* background-image: url(../../img/instagram_white_2x.png); */
  }
  .widget-share a.social.instagram:hover {
    /* background-image: url(../../img/instagram_white_2x.png); */
  }
  .widget-share a.social.youtube {
    /* background-image: url(../../img/youtube_white_2x.png); */
  }
  .widget-share a.social.youtube:hover {
    /* background-image: url(../../img/youtube_white_2x.png); */
  }
  .widget-share a.social.blogger {
    /* background-image: url(../../img/blogger_white_2x.png); */
  }
  .widget-share a.social.blogger:hover {
    /* background-image: url(../../img/blogger_white_2x.png); */
  }
}

.widget-share-item {
  margin-top: 0px;
}
.widget-share-item .shared-badge {
  width: 30px;
  float: left;
  margin-right: 10px;
  text-align: center;
}
.widget-share-item h2 {
  font-family: 'FrutigerLTW02-77BlackCn';
  color: #000;
  font-weight: 100;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.widget-share-item .count {
  font-family: 'FrutigerLTW02-77BlackCn';
  color: #000;
  font-weight: 100;
  font-size: 16px;
}
.widget-share-item .twitter {
  background-color: #55acee;
  /* background-image: url(../../img/twitter_white.png) !important; */
}
.widget-share-item .facebook {
  background-color: #3b5998;
  /* background-image: url(../../img/facebook_white.png) !important; */
}
.widget-share-item .linkedin {
  background-color: #0077b5;
  /* background-image: url(../../img/linkedin_white.png) !important; */
}
@media only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {
  .widget-share-item .twitter {
    /* background-image: url(../../img/twitter_white_2x.png) !important; */
  }

  .widget-share-item .facebook {
    /* background-image: url(../../img/facebook_white_2x.png) !important; */
  }

  .widget-share-item .linkedin {
    /* background-image: url(../../img/linkedin_white_2x.png) !important; */
  }
}

.widget-address {
  margin-top: 40px;
  line-height: 200%;
}
.widget-address h2 {
  font-family: 'FrutigerLTW02-77BlackCn';
  color: #000;
  font-weight: 100;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

a.caret {
  /* background: url('../../img/arrow-right-blue.png') 5px center no-repeat; */
  padding-left: 20px;
}

.widget-contact {
  margin-top: 40px;
}
.widget-contact h2 {
  font-family: 'FrutigerLTW02-77BlackCn';
  color: #000;
  font-weight: 100;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.widget-contact span {
  display: block;
  margin-top: 5px;
}

a.caret {
  /* background: url('../../img/caret-slim.png') 5px center no-repeat; */
  padding-left: 20px;
}

.widget-red {
  background-color: #c6002a;
  padding: 10px;
  position: relative;
  height: 200px;
  color: #fff;
  line-height: 200%;
}
.widget-red.half {
  height: 110px;
}
.widget-red.half h2 {
  font-size: 18px;
  line-height: 1.2em;
}
.widget-red h2 {
  font-family: 'FrutigerLTW02-77BlackCn';
  color: #fff;
  font-weight: 100;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.widget-grey {
  background-color: #eeeeee;
  padding: 10px;
  position: relative;
  height: 200px;
  line-height: 200%;
}
.widget-grey input {
  background-color: #fff;
}
.widget-grey h2 {
  font-family: 'FrutigerLTW02-77BlackCn';
  color: #fff;
  font-weight: 100;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.widget-grey h3 {
  color: #000;
  margin-bottom: 0;
  margin-top: 0;
}

.widget-content-aside {
  padding: 10px;
  position: relative;
  height: 120px;
  margin-top: 30px;
  width: 220px;
  line-height: 200%;
}
.widget-content-aside.red {
  background-color: #c6002a;
}
.widget-content-aside.blue {
  background-color: #00aeed;
}

.widget-content-aside .title {
  font-family: 'FrutigerLTW02-77BlackCn';
  font-weight: 100;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  display: block;
}
.widget-content-aside .subtitle {
  font-family: 'FrutigerLTW02-77BlackCn';
  font-weight: 100;
  font-size: 12px;
  display: block;
  color: #fff;
}
.widget-content-aside .btn-red,
.widget-content-aside .btn-black {
  width: calc(100% - 20px);
  text-transform: none;
  position: absolute;
  bottom: 10px;
  height: 30px;
  line-height: 26px;
  font-size: 12px;
}

.actions {
  height: inherit;
}
.block {
  position: relative;
  padding: 30px 20px 30px 30px;
  display: block;
  margin-bottom: 30px;
}
.block.bg-overlay:before {
  z-index: 5;
  display: block;
}
.block .newslist {
  margin-top: 30px;
}
.block .newslist li {
  margin-bottom: 30px;
}
.block .newslist li > a {
  line-height: 19px;
  font-size: 16px;
}
.block .newslist time {
  display: block;
  color: #999999;
  line-height: 26px;
  font-size: 14px;
}
.block .newslist .readmore {
  font-size: 14px;
}
.block.no-padding-lr {
  padding-left: 0px;
  padding-right: 0px;
}
.block .no-padding {
  padding: 0 !important;
}
.block .title-container {
}
.block .title-container.bottom {
  position: absolute;
  bottom: 80px;
}
.block .title-container.b-0 {
  bottom: 0px;
}

.block .action-container {
  position: absolute;
  bottom: 30px;
  z-index: 10;
  width: 100%;
}
.block .title {
  margin-top: 0;
  font-family: 'FrutigerLTW02-77BlackCn';
  font-weight: 100;
  font-size: 32px;
  line-height: 32px;
  color: #000;
  text-transform: uppercase;
  display: block;
  position: relative;
  z-index: 10;
  margin-bottom: 10px;
}
.block .title.white {
  color: #fff;
}
.block .title.black {
  color: #000;
}
.block .title.smaller {
  font-size: 24px;
  line-height: 24px;
}
.block .title.smallest {
  font-size: 16px;
  line-height: 16px;
}
.block .course-list {
  list-style: none;
  margin-left: -5px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.block .course-list li {
  margin: 5px;
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #efefef;
  font-size: 14px;
  line-height: 36px;
  height: 36px;
}
.block .btn-red,
.block .btn-black {
  height: 50px;
  line-height: 50px;
  padding: 0px 20px;
}
.block.white {
  background-color: #fff;
}
.block .subtitle {
  margin-top: 0px;
  font-size: 16px;
  line-height: 16px;
  display: block;
  position: relative;
  z-index: 10;
}
.block .subtitle.red {
  color: #c6002a;
}
.block .subtitle.white {
  color: #ffffff;
}

.content.grey {
  background-color: #efefef;
}

.cta-container {
  color: #fff;
  position: absolute;
  right: 0;
  top: 80px;
  width: 320px;
  height: 240px;
}
.cta-container .title {
  margin-top: 0;
  font-family: 'FrutigerLTW02-77BlackCn';
  font-weight: 100;
  font-size: 32px;
  line-height: 32px;
  color: #000;
  text-transform: uppercase;
  display: block;
  position: relative;
  z-index: 10;
  margin-bottom: 10px;
}
.cta-container .title.white {
  color: #fff;
}
.cta-container .title.black {
  color: #000;
}
.cta-container .title.smaller {
  font-size: 24px;
  line-height: 24px;
}
.cta-container .title.smallest {
  font-size: 16px;
  line-height: 16px;
}

.le-header {
  background-color: #fff;
  margin-top: 15px;
  padding: 10px 0;
  height: 60px;
  z-index: 10;
}

.lector-face {
  width: 150px;
}

.le-title {
  font-family: 'FrutigerLTW02-77BlackCn';
  font-weight: 100;
  font-size: 30px;
  text-transform: uppercase;
  color: #c6002a;
  display: block;
  position: relative;
  z-index: 10;
  margin: 0;
  line-height: 30px;
}

.no-text-tranform {
  text-transform: none;
}

.le-badge-grey {
  height: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 10px;
  line-height: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  padding: 0 10px;
  color: #fff;
}

.le-article {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 30px;
  padding-bottom: 10px;
}
.le-article .le-article-image,
.le-article .le-participant-image {
  display: block;
  width: 100%;
  height: 140px;
}
.le-article img.le-article-img {
  width: 100%;
}
.le-article h2 {
  text-transform: none !important;
  line-height: 1;
}
.le-article h3 {
  font-family: 'FrutigerLTW01-56Italic';
  font-size: 14px;
  color: #c6002a;
  line-height: 1;
  font-weight: 100;
  margin: 15px 0px;
}
.le-article .btn {
  font-family: 'FrutigerLTW02-77BlackCn';
  height: 30px;
  line-height: 28px;
  font-size: 16px;
}
.le-article .le-article-media,
.le-participant-media {
  height: 140px;
}

@media (min-width: 1200px) {
  .lector-face {
    width: 270px;
    float: right;
    margin-left: 20px;
  }

  .le-article-media,
  .le-participant-media {
    display: table-cell;
    vertical-align: top;
    padding-right: 30px;
  }

  .le-article-body {
    display: table-cell;
    vertical-align: top;
  }

  .le-article-media,
  .le-participant-media {
    width: 140px;
    height: 140px;
    display: table-cell;
    vertical-align: top;
    padding-right: 30px;
  }

  .le-article-body {
    display: table-cell;
    vertical-align: top;
  }
}

@media (min-width: 992px) {
  .le-header {
    margin-top: 30px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .le-header,
  .ni-header {
    margin-top: -220px;
  }

  .ni-header {
    margin-left: -15px;
    margin-right: -15px;
  }

  .le-header {
    height: 50px;
    position: relative;
    padding-top: 15px;
    padding-left: 15px;
  }

  .le-title {
    font-size: 36px;
    line-height: 1;
  }

  .le-article-media,
  .le-participant-media {
    width: 170px;
    height: 170px;
    display: table-cell;
    vertical-align: top;
    padding-right: 30px;
  }

  .le-article-body {
    display: table-cell;
    vertical-align: top;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .le-header {
    margin-top: 30px;
  }

  .le-article-media,
  .le-participant-media {
    width: 170px;
    height: 170px;
    display: table-cell;
    vertical-align: top;
    padding-right: 30px;
  }

  .le-article-body {
    display: table-cell;
    vertical-align: top;
  }
}

.pagination {
  font-weight: 700;
  display: inline-block;
  padding-left: 0;
  margin: 20px 0 20px 0 !important;
  border-radius: 4px;
  display: block;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 30px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #000;
}
.pagination > li {
  display: inline;
}
.pagination > li a {
  margin-right: 15px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.ni-header {
  position: relative;
  background-color: #fff;
  margin-top: 15px;
  padding: 20px 0;
  height: 60px;
  z-index: 10;
}

.ni-title {
  font-family: 'FrutigerLTW02-77BlackCn';
  font-weight: 100;
  font-size: 30px;
  text-transform: uppercase;
  color: #c6002a;
  display: inline-block;
  position: relative;
  z-index: 10;
  margin: 0;
  line-height: 30px;
}

.btn.btn-link {
  background-color: transparent;
  color: #00aeed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  padding: 0 10px;
}

.return-menu {
  background-color: #eeeeee;
  height: 42px;
  border: 1px solid #eeeeee;
  margin-top: 10px;
  font-weight: 100;
  font-family: 'FrutigerLTW02-77BlackCn';
}
.return-menu a {
  line-height: 42px;
  padding: 0 10px;
}
.return-menu a::before {
  /* content: url(../../img/arrow-left-blue-trans.png); */
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.news-item header {
  color: #000;
}
.news-item .le-title {
  display: block;
}
.news-item h2 {
  color: black;
  display: block;
  font-family: FrutigerLTW02-77BlackCn;
  font-size: 24px;
  font-weight: 100;
  line-height: 24px;
  margin-bottom: 5px;
  margin-top: 0px;
}
.news-item p {
  margin: 0 0 2em;
}

@media (min-width: 992px) {
  .ni-header {
    margin-top: -230px;
  }

  .return-menu {
    background-color: white;
    background-image: linear-gradient(0deg, #eee 0%, #fff 20%);
    height: 40px;
  }
}

.ni-article {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 30px;
}
.ni-article .ni-article-body {
  margin-top: 20px;
}
.ni-article .ni-article-image {
  display: block;
  width: 100%;
  height: 170px;
}
.ni-article img.ni-article-img {
  width: 100%;
}
.ni-article h2 {
  text-transform: none !important;
  line-height: 1.2;
}
.ni-article h3 {
  font-family: 'FrutigerLTW01-56Italic';
  font-size: 14px;
  color: #c6002a;
  line-height: 1;
  font-weight: 100;
  margin: 15px 0px;
}
.ni-article .btn {
  font-family: 'FrutigerLTW02-77BlackCn';
  height: 30px;
  line-height: 28px;
  font-size: 16px;
}
.ni-article .ni-article-media {
  height: 170px;
}

@media (min-width: 992px) {
  .ni-header {
    margin-top: 30px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .ni-header {
    margin-top: -220px;
  }

  .ni-header {
    margin-left: -15px;
    margin-right: -15px;
  }

  .ni-title {
    font-size: 36px;
    line-height: 1;
    margin-left: 15px;
  }

  .ni-article-media {
    height: 300px !important;
  }

  .ni-article-image {
    height: 300px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .ni-header {
    margin-top: 30px;
  }
}

.cycle-slideshow {
  padding-bottom: 20px;
}
.cycle-slideshow img.slide {
  width: 100%;
  height: auto;
}
.cycle-slideshow .caption-container {
  background-color: #00aeed;
  color: #fff;
  font-size: 11px;
  height: 40px;
  padding: 0px 15px;
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  width: 100%;
}
.cycle-slideshow .caption-container a {
  color: #fff;
  display: inline-block;
  width: 25px;
  text-align: center;
  line-height: 40px;
}
.cycle-slideshow .caption-container .sl-caption {
  display: inline;
  vertical-align: text-bottom;
  margin-left: 10px;
  top: 5px;
  position: relative;
}
.cycle-slideshow .caption-container .caption-arrows {
  display: inline-block;
  height: 38px;
}

.event-item header.le-article {
  padding-top: 0;
  border-top: 0;
}
.event-item .le-title {
  margin-bottom: 7px;
}
.event-item .le-article-event {
  margin-top: 20px;
  margin-right: 20px;
}

.ev-article-date .date-day {
  width: 40px;
  height: 40px;
  background-color: #c6002a;
  display: inline-block;
  font-family: 'FrutigerLTW02-77BlackCn';
  font-weight: 100;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}
.ev-article-date .date-month {
  font-family: 'FrutigerLTW02-77BlackCn';
  font-weight: 100;
  font-size: 24px;
  color: #000;
  text-transform: uppercase;
  height: 40px;
}

.ev-filter {
  line-height: 40px;
  font-size: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.ev-filter .btn-filter {
  display: inline-block;
  border: 1px solid #00aeed;
  color: #00aeed;
  height: 24px;
  line-height: 23px;
  padding: 0 6px;
  text-decoration: none;
}
.ev-filter .btn-filter:hover {
  text-decoration: none;
}
.ev-filter .btn-filter.active {
  background-color: #00aeed;
  color: #fff;
}

@media (min-width: 786px) {
  .event-item header.le-article {
    padding-top: 0;
    border-top: 0;
  }
  .event-item .le-title {
    margin-bottom: 7px;
  }
  .event-item .le-article-event {
    margin-top: 0;
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .ev-article-date {
    margin-right: 30px;
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .ev-article-date {
    margin-right: 20px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .ev-article-date {
    margin-right: 30px;
    text-align: center;
  }
  .ev-article-date .date-day {
    width: 70px;
    height: 70px;
    font-size: 48px;
    line-height: 70px;
  }
  .ev-article-date .date-month {
    height: 70px;
    width: 70px;
  }
}

.project-parents {
  line-height: 200%;
  background-color: #eeeeee;
  margin-top: 10px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 20px;
}
.project-parents p + ul {
  color: #00aeed;
  margin-top: 0px;
  margin-left: 20px;
}

.mobile-menu-project-label {
  font-family: 'FrutigerLTW02-77BlackCn';
  font-weight: 100;
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  display: block;
  background-color: #eeeeee;
  padding: 15px 0 0 15px;
}
.menu-project-label,
.filter-project-label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color: #c6002a;
  display: block;
}

.ec-menu-project {
  margin-top: 0;
}

.pr-banner,
.titles-container {
  height: 160px;
  position: relative;
}

.titles.project-center {
  margin-bottom: 65px;
}

.projects-header {
  font-family: 'FrutigerLTW02-77BlackCn';
  font-weight: 100;
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  display: block;
  padding: 15px 0;
}

@media (min-width: 1200px) {
  .pr-banner {
    height: 190px;
  }
  .pr-banner.titles-container {
    height: 190px;
  }

  .titles-container {
    height: 270px;
  }
  .pr-banner .ec-title,
  .titles-container .ec-title {
    font-size: 48px;
    line-height: 1;
  }

  .titles.project-center {
    margin-bottom: 70px;
  }

  .ec-menu-project {
    margin-left: 0;
    margin-right: 0;
  }

  .menu-project-label {
    font-family: 'FrutigerLTW02-77BlackCn';
    font-weight: 100;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    display: block;
    background-color: #eeeeee;
    padding: 15px 0 0 15px;
  }

  .projects-header {
    margin: 0 0 20px 0;
    padding: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .pr-banner {
    height: 190px;
  }
  .pr-banner.titles-container {
    height: 190px;
  }

  .titles-container {
    height: 270px;
  }
  .pr-banner .ec-title,
  .titles-container .ec-title {
    font-size: 48px;
    line-height: 1;
  }

  .titles.project-center {
    margin-bottom: 70px;
  }

  .ec-menu-project {
    margin-left: 0;
    margin-right: 0;
  }

  .menu-project-label {
    font-family: 'FrutigerLTW02-77BlackCn';
    font-weight: 100;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    display: block;
    background-color: #eeeeee;
    padding: 15px 0 0 15px;
  }

  .projects-header {
    margin: 0 0 20px 0;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .pr-banner {
    height: 190px;
  }
  .pr-banner.titles-container {
    height: 190px;
  }
  .titles-container {
    height: 220px;
  }
  .pr-banner .ec-title,
  .titles-container .ec-title {
    font-size: 32px;
    line-height: 1;
  }

  .titles.project-center {
    margin-bottom: 80px;
  }

  .menu-project-label,
  .filter-project-label {
    margin-top: 12px;
  }
}

@media (max-width: 767px) {
  .menu-project-label,
  .filter-project-label {
    margin-top: 10px;
  }
  .le-participant-media {
    width: 110px !important;
    height: 110px !important;
    display: table-cell;
    vertical-align: top;
    padding-right: 30px;
  }
  .le-article .le-participant-image {
    display: block;
    width: 100%;
    height: 110px !important;
  }
}

.videowrapper {
  position: relative;
  padding-top: 25px;
  height: 0;
}
.videowrapper.widescreen {
  padding-bottom: 56.25%;
  /* 16:9 */
}
.videowrapper.legacyscreen {
  padding-bottom: 75%;
  /* 4:3 */
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.shareBox {
  position: relative;
  display: inline-block;
}
/* shareMenu Content (Hidden by Default) */
.shareMenu {
  margin-left: -14px;
  display: none;
  margin-top: -3px;

  position: absolute;
  min-width: 120px;
  box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
}

/* Links inside the shareMenu */
.shareMenu a {
  color: black !important;
  padding-left: 10px;
  text-decoration: none;
  display: block;
  font-family: 'FrutigerLTW02-47LightCn';
  font-size: 14px;
  line-height: 30px;
}

/* Change color of shareMenu links on hover */
.shareMenu a:hover {
  background-color: rgba(0, 174, 244, 0.15);
  display: block;
  line-height: 30px;
}

/* Show the shareMenu on hover */
.shareBox:hover .shareMenu {
  display: block;
  z-index: 100;
}

/* .widget-share-item .email {
    background-image: url(../../img/email_white.png) !important;
} */
