<cv-pageheader [pageTitle]="title"></cv-pageheader>
<section>
  <p>
    Voeg hier een onderliggend BOKS element toe. Het element wordt toegevoegd en gekoppeld aan het
    bovenliggende element.
  </p>
</section>
<section>
  <cv-boks-form [boksElement]="boks$ | async" (create)="onCreate($event)" (cancel)="onCancel()">
  </cv-boks-form>
</section>
