<main class="viewer__container">
  <div class="viewer__wide">
    <header>
      <cv-pageheader [pageTitle]="title"></cv-pageheader>
    </header>

    <nav>
      <cv-actions [actionsGroup]="actions"></cv-actions>
    </nav>

    <article class="">
      <section>
        <p>
          Een BOKS element representeert een element uit de 'body of knowledge and skills'.
        </p>
      </section>
      <section>
        <cv-boks-form
          [boksElement]="boks$ | async"
          [isLearningLine]="isLearningLine"
          (selected)="onSelect($event)"
          (create)="onCreate($event)"
          (update)="onUpdate($event)"
          (remove)="onRemove($event)"
          (cancel)="onCancel()"
        >
        </cv-boks-form>
      </section>
    </article>
  </div>
</main>
