<footer class="page-footer" *ngIf="(isLoggedIn$ | async) as isLoggedIn">
  <div class="layout-full-width-block__content page-footer__content">
    <div class="footer-links">
      <div class="links__list-block">
        <h4 class="links__header">Direct naar</h4>
        <ul class="links__list links__list--discover">
          <li class="footer-link__item footer-link__item--discover">
            <a href="/alumni" class="footer-link__link">Overzicht</a>
          </li>
          <li class="footer-link__item footer-link__item--discover">
            <a
              href="https://iavans.nl/?url="
              target="_blank"
              class="footer-link__link"
              >De opleiding</a
            >
          </li>
          <li class="footer-link__item footer-link__item--discover">
            <a class="footer-link__link" routerLink="/login">Login</a>
          </li>
        </ul>
      </div>

      <div class="links__list-block">
        <h4 class="links__header">Over de opleiding Informatica</h4>
        <ul class="links__list links__list--follow">
          <p>Hier misschien tekst</p>
          <li
            class="footer-link__item footer-link__item--icon footer-link__item--follow"
          >
            <a
              href="https://twitter.com/avanshogeschool"
              target="_blank"
              class="footer-link__link footer-link__link--icon footer-link__link--twitter"
              >Volgen op Twitter</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="disclaimer">
    <div class="disclaimer__container">
      <p class="disclaimer__text">
        © Avans Hogeschool, 2018
        <a class="disclaimer__link" href="/over-avans/contact-en-locaties"
          >Contact</a
        >
        <a class="disclaimer__link" href="/over-avans/disclaimer">Disclaimer</a>
        <a class="disclaimer__link" href="/over-avans/privacystatement"
          >Privacystatement</a
        >
        <a class="disclaimer__link" href="/over-avans/cookiebeleid"
          >Cookiebeleid</a
        >
      </p>
      <a href="/" class="page-footer__logo-link">
        <img
          class="page-footer__logo"
          src="https://www.avans.nl/images/Logo-Avans-White.svg"
          alt="Avans Hogeschool."
        />
      </a>
    </div>
  </div>
</footer>
