<main class="viewer__container">
  <div class="viewer__wide">
    <header>
      <cv-pageheader [pageTitle]="title" [superTitle]="'Wijzigen'"></cv-pageheader>
    </header>

    <nav>
      <cv-actions [actionsGroup]="actions"></cv-actions>
    </nav>

    <article>
      <section>
        <p>
          Korte inleiding hier? Tips voor het invoeren van gegevens?
        </p>
      </section>

      <section>
        <h2>Algemene informatie</h2>
        <cv-course-form
          [course]="course$ | async"
          (create)="onCreate($event)"
          (update)="onUpdate($event)"
          (remove)="onRemove($event)"
          (cancel)="onCancel()"
        >
        </cv-course-form>
      </section>
    </article>
  </div>
</main>
