<aside class="filter-block resultpage__aside" id="filters">
  <a href="#filters" class="filter__button filter__button--show"
    >Toon filters</a
  >
  <a href="#" class="filter__button filter__button--hide">Verberg filters</a>
  <div class="filter-block__container">
    <h3 class="filter-block__header">Filters</h3>

    <form
      id="programFinderForm"
      action=""
      method="get"
      class="filter-block__form filter-block__container"
    >
      <fieldset class="filters">
        <!-- <legend class="filters__header">Vorm</legend> -->
        <h3 class="filters__header">Vorm</h3>
        <ul class="filters__list">
          <li class="filter__item ">
            <input
              class="input input--checkbox input--filter"
              type="checkbox"
              name="vorm"
              value="voltijd"
              id="voltijd"
              checked="checked"
            />
            <label class="label " for="voltijd">Regulier</label>
          </li>
          <li class="filter__item ">
            <input
              class="input input--checkbox input--filter"
              type="checkbox"
              name="vorm"
              value="deeltijd"
              id="deeltijd"
            />
            <label class="label " for="deeltijd">Verkort</label>
          </li>
        </ul>
      </fieldset>

      <fieldset class="filters">
        <!-- <legend class="filters__header">Locatie</legend> -->
        <h3 class="filters__header">Jaar</h3>
        <ul class="filters__list">
          <li class="filter__item ">
            <input
              class="input input--checkbox input--filter"
              type="checkbox"
              name="locatie"
              value="breda"
              id="breda"
            />
            <label class="label " for="breda">2017</label>
          </li>
          <li class="filter__item ">
            <input
              class="input input--checkbox input--filter"
              type="checkbox"
              name="locatie"
              value="s-hertogenbosch"
              id="s-hertogenbosch"
            />
            <label class="label " for="s-hertogenbosch">2018</label>
          </li>
          <li class="filter__item ">
            <input
              class="input input--checkbox input--filter"
              type="checkbox"
              name="locatie"
              value="roosendaal"
              id="roosendaal"
            />
            <label class="label " for="roosendaal">2019</label>
          </li>
          <li class="filter__item ">
            <input
              class="input input--checkbox input--filter"
              type="checkbox"
              name="locatie"
              value="tilburg"
              id="tilburg"
            />
            <label class="label " for="tilburg">2020</label>
          </li>
        </ul>
      </fieldset>
      <input type="hidden" value="" name="page" id="page" />
      <input type="hidden" value="uitgebreid" name="weergave" id="weergave" />
    </form>
  </div>
</aside>
