:host {
  display: block;
  width: 100%;
}

.content {
  &__container {
    margin: 6px;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid blue;

    // display: flex;
    // flex-direction: column;
    // flex-wrap: nowrap;
    // // justify-content: space-around;
    // align-items: stretch;
    &:hover {
      background: #ccc;
    }
  }
}
