:host {
  display: block;
  width: 100%;
}
.boks {
  &__content {
    margin: 10px auto 50px;
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 1340px;
    border-radius: 4px;
  }
  &__container {
    padding: 35px;
  }
}
