<main
  class="layout-full-width-block main-content layout-full-width-block--content-page"
>
  <div class="layout-full-width-block__content content-page">
    <nav id="page-menu" class="page-menu content-page__menu">
      <a href="#page-menu" class="skip-link nav-link">Acties</a>
      <div class="page-menu__container">
        <ul class="page-menu__list">
          <li class="parent-item">
            <a class="skip-link nav-link" href="/over-avans/werken-bij-avans"
              >Acties</a
            >
          </li>
          <li class="page-menu__item">
            <a
              class="page-menu__link"
              href="/over-avans/werken-bij-avans/talentontwikkeling"
              >Aanpassen</a
            >
          </li>
          <li class="page-menu__item">
            <a
              class="page-menu__link"
              href="/over-avans/werken-bij-avans/solliciteren"
              >Toevoegen</a
            >
          </li>
        </ul>
        <a href="#" class="skip-link close-icon">Verberg het menu</a>
      </div>
    </nav>

    <!--     
    <div class="header-image service-page-header service-page-header">
      <p>Hier eventueel ruimte voor een header.</p>
    </div> 
    -->

    <article class="main-content content-page__content">
      <h3>User information</h3>
      <h1 class="entry-title">{{ user?.fullName }}</h1>

      <p>
        Rol: <span *ngFor="let role of user?.roles">{{ role | asRole }} </span>
      </p>

      <h2>Mijn entiteiten</h2>
      <p>Dit zijn de entiteiten waarbij u betrokken bent.</p>
      <table class="table">
        <thead>
          <th>Id</th>
          <th>Entiteit</th>
          <th>Naam</th>
          <th>Actie op datum</th>
          <th>Rol tot entiteit</th>
        </thead>
        <tbody>
          <tr>
            <td>234</td>
            <td>Periode</td>
            <td><a href="#">Basisvaardigheden 1</a></td>
            <td>23 maart 2018</td>
            <td>Periode eigenaar</td>
          </tr>
        </tbody>
      </table>
    </article>

    <aside class="content-page__aside">
      <div class="content-page__aside-container">
        <div class="widget widget--sidebar widget--red">
          <h4 class="widget__header ">Periodes</h4>
          <div class="widget__content">
            <p>Naar het overzicht</p>
            <a
              class="widget__link widget__link--solo btn--secondary"
              href="https://www.avans.nl/over-avans/werken-bij-avans/vacatures"
            >
              Naar alle periodes</a
            >
          </div>
        </div>

        <!-- output !cmsRequest-->
        <div class="widget widget--sidebar widget--blue">
          <h4 class="widget__header ">Opdracht aanmelden</h4>
          <div class="widget__content">
            <p>Meld uw stage of opdracht eenvoudig aan</p>
            <a
              class="widget__link widget__link--solo btn--secondary"
              href="http://fd7.formdesk.com/omnismart/cs"
              onclick="_gaq.push(['_trackEvent', 'Dynamic Editor Small Widget', 'button clicked', 'Opdracht aanmelden']);"
            >
              Vul het formulier in</a
            >
          </div>
        </div>

        <div class="widget widget--sidebar">
          <h3 class="widget__header">Meer informatie</h3>
          <div class="widget__content">
            Toelichting
            <br />
            <br />&nbsp;&nbsp;&nbsp;
          </div>
        </div>
      </div>
    </aside>
  </div>
</main>
