<nav
  *ngFor="let actionGroup of actionsGroup"
  class="page-menu content-page__menu"
>
  <a href="#page-menu" class="skip-link nav-link">{{ actionGroup?.title }}</a>
  <div class="page-menu__container">
    <ul class="page-menu__list">
      <li class="parent-item">
        {{ actionGroup?.title }}
      </li>
      <div *ngFor="let action of actionGroup?.actions">
        <li *ngIf="[action.authGuard]" class="page-menu__item">
          <a
            class="page-menu__link"
            [routerLink]="[action.routerLink]"
            [routerLinkActive]="['submenu__link--active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ action.name }}
          </a>
        </li>
      </div>
    </ul>
    <a href="#" class="skip-link close-icon">Verberg het menu</a>
  </div>
</nav>
