<main class="viewer__container">
  <div class="viewer__wide">
    <header>
      <cv-pageheader [pageTitle]="title"></cv-pageheader>
    </header>

    <nav>
      <cv-actions [actionsGroup]="actions"></cv-actions>
    </nav>

    <article>
      <section>
        <p>
          Een leerdoel enz., korte inleiding hier? Tips voor het schrijven van een leerdoel?
        </p>
      </section>
      <section>
        <cv-objective-form
          [objective]="objective$ | async"
          [availableLearningLines]="availableLearninglines$ | async"
          (create)="onCreate($event)"
          (update)="onUpdate($event)"
          (remove)="onRemove($event)"
          (cancel)="onCancel()"
        >
        </cv-objective-form>
      </section>
    </article>
  </div>
</main>
