<div class="layout-full-width-block submenu">
  <div class="layout-full-width-block__content">
    <ul class="submenu__list">
      <li class="submenu__item">
        <a
          class="submenu__link"
          routerLink="/docenten"
          [routerLinkActive]="['submenu__link--active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Docenten
        </a>
      </li>
      <li class="submenu__item">
        <a
          class="submenu__link"
          routerLink="/docenten"
          [routerLinkActive]="['submenu__link--active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Per periode
        </a>
      </li>
      <li class="submenu__item">
        <a
          class="submenu__link"
          routerLink="/docenten"
          [routerLinkActive]="['submenu__link--active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Per onderwijseenheid
        </a>
      </li>
    </ul>
  </div>
</div>
