:host {
  display: block;
  width: 100%;
}
.card {
  &__container {
    margin: 5px;
    padding: 10px;
    border: 1px solid red;
    border-radius: 4px;
  }
  &__title {
    font-weight: bolder;
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}

.dnd-container {
  border: 2px dashed #666666;
  padding: 2px;
  border-radius: 4px;
  min-height: 60px;
}
