<main class="viewer__container">
  <div class="viewer__wide">
    <header>
      <cv-pageheader
        [pageTitle]="title"
        [superTitle]="'Studiejaar ' + (selectedYear$ | async)"
        [buttonText]="'Toevoegen'"
        [actionIsAllowed]="userMayEdit$ | async"
        (action)="onAddElement()"
      ></cv-pageheader>
    </header>

    <nav>
      <cv-actions [actionsGroup]="actions"></cv-actions>
    </nav>

    <article>
      <section>
        <div>
          <ngx-datatable
            class="bootstrap"
            [rows]="modules$ | async"
            [columns]="columnHeaders"
            [columnMode]="'flex'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [selected]="selected"
            [selectionType]="'single'"
            (select)="onSelect($event)"
          >
          </ngx-datatable>
        </div>
      </section>
    </article>
  </div>
</main>
