<div class="page__wrapper">
  <div class="page__top">
    <cv-mainmenu></cv-mainmenu>
  </div>
  <div class="page__middle">
    <router-outlet></router-outlet>
  </div>
  <div class="page__footer">
    <app-footer></app-footer>
  </div>
</div>
