<h1>{{ title }}</h1>
<p>
  user-edit works!
</p>

<button type="button" (click)="saveChanges()" class="btn btn-success">
  Save
</button>
<button type="button" routerLink=".." class="btn btn-outline-success">
  Cancel
</button>
