:host {
  display: block;
  width: 100%;
}
.dnd_tree {
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: space-around;
    align-items: stretch;
  }
}
